/************************************************************

	Install locations --

	Windows:
	%LOCALAPPDATA%\Google\Chrome\User Data\Default\User StyleSheets\Custom.css

	Linux: -- this may be specific to your distro?
	~/.config/chromium/Default/User StyleSheets/Custom.css

	Mac:
	~/Library/Application Support/Google/Chrome/Default/User StyleSheets/Custom.css

	Based on Coding Horror 2010 theme
	Using Sublime text 2 default font, and more readable color and lineheight

	all styles you can change
	chrome-devtools://devtools/devTools.css

	https://github.com/simonsmith/DarkDev/blob/master/Custom.css

************************************************************/

body.platform-windows .monospace,
body.platform-windows .source-code
{
	/* Source code Pro is what I'm currently using in VS2012 so why not here
	   too -- this will fallback to consolas in case you don't jump on trends :)
    */
	font-family: "Source Code Pro", "Consolas", monospace !important;
}

/*
Linux/Mac may want to add thier own fonts, i'm not familiar with them so we'll
leave them as the defaults.
*/

#console-messages .console-group-messages .section .header::before,
#console-messages .properties-tree li.parent::before
{
	content: url(chrome-devtools://devtools/Images/treeRightTriangleBlack.png) !important;
}

#console-messages .console-group-messages .section.expanded .header::before,
#console-messages .properties-tree li.parent.expanded::before
{
	content: url(chrome-devtools://devtools/Images/treeDownTriangleBlack.png) !important;
}


/* Common typography */
#-webkit-web-inspector .source-code,
#-webkit-web-inspector #main-panels .split-view-sidebar-right *,
#-webkit-web-inspector #console-message,
#-webkit-web-inspector .text-editor-contents,
#-webkit-web-inspector #console-view * {
	/*font-size: 13px !important;*/
	/*font-family: Monaco, Consolas, "Lucida Console", monospace !important;*/
	line-height: 1.6em !important;
	font-family: Menlo, "Consolas", monospace !important;
}

/* Sublime text 2 default font */
body .monospace,
body .source-code {

}

/* html inspect area */
/* set readable lineheight to console */
#elements-content * {
	line-height: 1.4em;
}

#elements-content .parent::before
{
	content: url(chrome-devtools://devtools/Images/treeRightTriangleBlack.png) !important;
	position: relative;
	z-index: 999;
}

#elements-content .parent.expanded::before
{
	content: url(chrome-devtools://devtools/Images/treeDownTriangleBlack.png) !important;
}

#elements-content .parent.expanded
{
	background: #eee;
	margin : 0.875em 0 0 !important;
}

#elements-content .parent.selected + *
{
	background: #f1f1f1 !important;
	border-left: 1px dotted #aaa;
}

#elements-content .parent.selected
{
	background: #D0F3F3;
	border-left: 1px solid #000;
	border-radius: 3px;
}

#elements-content.source-code
{
	background: #fcfcfc !important;
}

#elements-content .highlight {
  color: #d4d4d4;
}


#-webkit-web-inspector .elements .selected {
	background: #D0F3F3 !important;
	border-left: 1px dotted #aaa;
}

/* end html inspect area */


/* CSS Inspect */
/* all css style has readable lineheight */
[class^="webkit-css"] {
	line-height: 1.4em !important;
}

.webkit-css-selector {
	color: #BD3E4D !important;
}

.webkit-css-comment {
	color: #4DA95F !important;
	font-style: italic !important;
	line-height: 1.6em !important;
}

.webkit-css-url, .webkit-css-color, .webkit-css-string, .webkit-css-keyword,
.webkit-css-selector {
    color: #389 !important;
}

.webkit-css-number {
    color: #3F8EBB !important;
}

.webkit-css-important {
	color: #0000FF !important;
}

.webkit-css-property,
.webkit-css-at-rule {
	color: #C84252 !important;
}


/* HTML */
.webkit-html-comment {
	color: #4DA95F !important;
	font-style: italic !important;
	line-height: 1.6em !important;
}

.webkit-html-tag,
.webkit-html-doctype {
	color: #6B4E32 !important;
}

.webkit-html-text-node,
.webkit-html-css-node,
.webkit-html-js-node {
	color: #333 !important;
}
.webkit-html-attribute-name {
	color: #BD3E4D !important;
}

.webkit-html-attribute-value {
	color: #007CBB !important;
}

/* Javascript */
[class^="webkit-javascript"] {
	line-height: 1.4em !important;
}
.webkit-javascript-string {
	color: #3F8EBB !important;
}

.webkit-javascript-comment {
	color: #4DA95F !important;
	font-style: italic !important;
	line-height: 1.6em !important;
}

.webkit-javascript-number {
    color: #429694 !important;
}

.webkit-javascript-ident {
	color: #333 !important;
}

.webkit-javascript-keyword {
	color: #C84252 !important;
}



/*	Console
------------------------------------------------*/
#-webkit-web-inspector .console-user-command > .console-message-text {
	color: #333 !important;
}

#-webkit-web-inspector #console-messages a {
	color: #389 !important;
}

#-webkit-web-inspector #console-messages a:hover {
	color: blue !important;
}

#-webkit-web-inspector .console-formatted-boolean {
	color: #CC6600 !important;
}

#-webkit-web-inspector .console-error-level .console-message-text,
#-webkit-web-inspector .console-error-level .section .header .title {

}

#-webkit-web-inspector .console-error-level .children .source-code {

}

#-webkit-web-inspector .console-error-level .properties-tree {
	font-weight: normal !important;
}

#-webkit-web-inspector .console-message,
#-webkit-web-inspector .console-user-command {
	/*border-color: #333 !important;*/
	/*border-style: dashed !important;*/
	border: 0px !important;
	border-bottom:1px dashed #ddd !important;
	padding: 5px 0 !important;
	line-height: 1.4em !important;
}

#-webkit-web-inspector .console-message {
	/*padding-bottom: 5px !important;*/
	/*margin-bottom: 3px;*/
}

#-webkit-web-inspector .console .console-formatted-object {

}

#-webkit-web-inspector .console .console-formatted-string {
	color: #007cbb !important;
}

#-webkit-web-inspector .console .name {
	color: #BD3E4D !important;
}




/*  Source Code - Pane
------------------------------------------------*/

/* Generic */

#-webkit-web-inspector #main-panels .pane > .title,
#-webkit-web-inspector #main-panels .sidebar-separator,
#-webkit-web-inspector #main-panels .sidebar-pane-subtitle {
    font-family: sans-serif !important;
}

#-webkit-web-inspector .split-view-sidebar-right .webkit-css-property {
}

#-webkit-web-inspector .selector-matches {
	color: #333 !important;
	font-weight: bold;
	background: #D0F3F3 !important;
}
