.webkit-html-comment {
  color: $html-comment-color !important;
  font-style: italic !important;
}
.webkit-html-tag, .webkit-html-doctype {
  color: $html-tag-color !important;
}
.webkit-html-text-node, .webkit-html-css-node, .webkit-html-js-node {
  color: $html-tag-foreground !important;
}
.webkit-html-attribute-name {
  color: $html-attr-color !important;
}
.webkit-html-attribute-value {
  color: $html-value-color !important;
}