[class^="webkit-javascript"] { }

.webkit-javascript-string {
  color: $javascript-tag-foreground !important;
}
.webkit-javascript-comment {
  font-style: italic !important;
  color: $javascript-comment-color !important;
}
.webkit-javascript-number {
  color: $javascript-number-color !important;
}
.webkit-javascript-ident {
  color: $javascript-tag-foreground !important;
}
.webkit-javascript-keyword {
  color: $javascript-keyword-color !important;
}