// globe colors
$background-color : #fcfcfc;
$foreground-color : #333;

$font-size: 15px;
$font-family: "Source Sans Pro", Menlo, "Consolas", monospace ;
$line-height : 1.2em;

// html document colors
$html-comment-color : #5A9AA8;
$html-tag-color : #6B4E32;
$html-attr-color : #d82168;
$html-value-color : #1f6dd8;
$html-tag-foreground : #333;

// css document colors
$css-comment-color : #4DA95F;
$css-tag-foreground : #333;
$css-number-color : #3F8EBB;
$css-important-color : #0000FF;
$css-property-color : #C84252;
$css-selector-color : #1476a2;
$css-link-color : #1476a2;

// javascript document colors
$javascript-comment-color : #4DA95F;
$javascript-number-color : #429694;
$javascript-tag-foreground : #333;
$javascript-keyword-color : #C84252;

// console styles
$console-foreground : #333;
$console-link-color : #1476a2;
$console-link-hover-color : blue;
$console-bool-color : #CC6600;
$console-key-color : #007cbb;
$console-value-color : #BD3E4D;
$console-line-border : 1px dashed #ddd;
$console-line-padding : 0 0;

// inspect settings
$inspect-css-match-foreground : #333;
$inspect-css-match-background : #ffeea8;
$inspect-css-property-color : #BD3E4D;
$inspect-html-expand-background : #eeeeee;
$inspect-html-expand-border-color : #6a6a6a;
$inspect-html-selected-background : #ffeea8;


